<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Wallapoints!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li ng-if="ctrl.user.username=='admin'"><a href="/#/admin"><span class="glyphicon glyphicon-inbox"
                                                                                     aria-hidden="true"></span> Manage
                        users <span class="sr-only">(current)</span></a></li>
                    <li ng-if="ctrl.user.username=='admin'"><a href="/#/adminMap"><span
                            class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;View all POIs</a></li>
                    <li><a href="/#/userMap"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Manage
                        my POIs</a></li>
                    <li><a href="/#/userPanel"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit
                        my profile</a></li>
                    <li ng-if="ctrl.user.username=='admin'"><a href="/#/statistics"><span
                            class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Statistics</a></li>
                    <li class="active"><a href="/#/userStats"><span class="glyphicon glyphicon-stats"
                                                                    aria-hidden="true"></span>&nbsp;User Stats</a></li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="ctrl.logOut()"><span
                        class="glyphicon glyphicon-log-out"></span>&nbsp;Log-out</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container"> <!-- El container añade márgenes a los lados -->

    <div class="alert "
         ng-class="{'alert-danger':ctrl.alert.type=='danger','alert-warning':ctrl.alert.type=='warning', 'alert-success':ctrl.alert.type=='success'}"
         role="alert" ng-if="ctrl.alert.show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>{{ctrl.alert.title}}</strong> {{ctrl.alert.message}}
    </div>

    <div >
        <div class="row bg-info">
            <div class="col-m-12">
                <h2 style="text-align:center;">Stats about your routes</h2>
            </div>

        </div>
        <div class="row bg-success" ng-if="!ctrl.hasRouteData">
            <h3 style="text-align:center;">No routes available!</h3>
        </div>

        <!-- Fila de distancias de rutas -->
        <div class="row bg-default" ng-if="ctrl.hasRouteData">
            <div class="col-md-4 bg-success">

                <h3>Average distance</h3>
                <h1>{{ctrl.avgRouteDistance | number : 2}} Km</h1>
                <p>Of a total of {{ctrl.routeCount}} routes</p>
            </div>
            <div class="col-md-4 bg-success">

                <h3>Longest distance</h3>
                <h1>{{ctrl.maxDistanceRoute.distance | number : 2}} Km</h1>
                <p><b>{{ctrl.maxDistanceRoute.name}}</b>, from <i>"{{ctrl.maxDistanceRoute.start}}"</i> to <i>"{{ctrl.maxDistanceRoute.end}}"</i>
                </p>
            </div>
            <div class="col-md-4 bg-success">
                <h3>Shortest distance</h3>
                <h1>{{ctrl.minDistanceRoute.distance | number : 2}} Km</h1>
                <p><b>{{ctrl.minDistanceRoute.name}}</b>, from <i>"{{ctrl.minDistanceRoute.start}}"</i> to <i>"{{ctrl.minDistanceRoute.end}}"</i>
                </p>
            </div>

        </div>
        <!-- Fila de tiempos de rutas -->
        <div class="row bg-default" ng-if="ctrl.hasRouteData">
            <div class="col-md-4 bg-success">

                <h3>Average time</h3>
                <h1>{{ctrl.avgRouteTime | secondsToHHMM}} h.</h1>
                <p>Of a total of {{ctrl.routeCount}} routes</p>
            </div>
            <div class="col-md-4 bg-success">

                <h3>Longest time</h3>
                <h1>{{ctrl.maxTimeRoute.time | secondsToHHMM}} h.</h1>
                <p><b>{{ctrl.maxTimeRoute.name}}</b>, from <i>"{{ctrl.maxTimeRoute.start}}"</i> to <i>"{{ctrl.maxTimeRoute.end}}"</i>
                </p>
            </div>
            <div class="col-md-4 bg-success">
                <h3>Shortest time</h3>
                <h1>{{ctrl.minTimeRoute.time | secondsToHHMM }} h.</h1>
                <p><b>{{ctrl.minTimeRoute.name}}</b>, from <i>"{{ctrl.minTimeRoute.start}}"</i> to <i>"{{ctrl.minTimeRoute.end}}"</i>
                </p>
            </div>

        </div>



        <!-- Fila de quesitos de rutas -->
        <div class="row bg-default" style="margin-top:20px;" ng-if="ctrl.hasRouteData">
            <div class="col-md-6 bg-success">
                <h3 style="text-align:center;">Routes by time duration</h3>
                <canvas id="pieTime" class="chart chart-pie"
                        chart-data="ctrl.routesByTime.data" chart-labels="ctrl.routesByTime.labels">
                </canvas>
            </div>
            <div class="col-md-6 bg-success">
                <h3 style="text-align:center;">Routes by total distance</h3>
                <canvas id="pieDistance" class="chart chart-pie"
                        chart-data="ctrl.routesByDistance.data" chart-labels="ctrl.routesByDistance.labels">
                </canvas>
            </div>


        </div>

        </div>
    <div >

        <div class="row bg-info" style="margin-top:20px;" >
            <div class="col-m-12">
                <h2 style="text-align:center;">Stats about your pois</h2>
            </div>


        </div>
        <div class="row bg-success" ng-if="!ctrl.hasPoiData">
            <h3 style="text-align:center;">No pois available!</h3>
        </div>

        <!-- Fila de elevación de pois -->
        <div class="row bg-default" ng-if="ctrl.hasPoiData">
            <div class="col-md-4 bg-success">

                <h3>Average elevation Poi</h3>
                <h1>{{ctrl.avgPoiElevation | number : 2}} m.</h1>
                <p>Of a total of {{ctrl.poiCount}} pois</p>
            </div>
            <div class="col-md-4 bg-success">

                <h3>Max elevation Poi</h3>
                <h1>{{ctrl.maxPoiElevation.elevation | number : 2}} m.</h1>
                <p>Poi: <strong>{{ctrl.poiMaxName}} </strong></p>
            </div>
            <div class="col-md-4 bg-success">
                <h3>Min elevation Poi</h3>
                <h1>{{ctrl.minPoiElevation.elevation | number : 2}} m.</h1>
                <p>Poi: <strong>{{ctrl.poiMinName}} </strong></p>
            </div>

        </div>




        <!-- Fila de quesitos de pois -->
        <div class="row bg-default" style="margin-top:20px;" ng-if="ctrl.hasPoiData">
            <div class="col-md-6 bg-success">
                <h3 style="text-align:center;">Pois by city</h3>
                <canvas id="pieCity" class="chart chart-pie"
                        chart-data="ctrl.routesByCity.data" chart-labels="ctrl.routesByCity.labels">
                </canvas>
            </div>
            <div class="col-md-6 bg-success">
                <h3 style="text-align:center;">Pois by country</h3>
                <canvas id="pieCountry" class="chart chart-pie"
                        chart-data="ctrl.routesByCountry.data" chart-labels="ctrl.routesByCountry.labels">
                </canvas>
            </div>


        </div>
    </div>

</div>
