<div class="fondo">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Wallapoints!</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

<div class="container">
    <div class="alert "
         ng-class="{'alert-danger':ctrl.alert.type=='danger','alert-warning':ctrl.alert.type=='warning', 'alert-success':ctrl.alert.type=='success'}"
         role="alert" ng-if="ctrl.alert.show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>{{ctrl.alert.title}}</strong> {{ctrl.alert.message}}
    </div>

    <div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Enter as a Creator User</strong>
                </div>
                <div class="panel-body">
                    <form name="userForm" role="form" ng-submit="ctrl.submitForm(userForm.$valid)" novalidate>
                        <br/>
                        <div class="form-group input-group">
                            <span class="input-group-addon">Username</span>
                            <input type="text" name="username" class="form-control" ng-model="ctrl.loginUser.username" placeholder="Username" required>
                        </div>
                        <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">A username is required.</p>

                        <div class="form-group input-group">
                            <span class="input-group-addon">Password&nbsp;</span>
                            <input type="password" name="password" class="form-control" ng-model="ctrl.loginUser.password" placeholder="Password" required>
                        </div>
                        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">A password is required</p>


                        <button type="submit" class="btn btn-success btn-block" ng-disabled="userForm.$invalid" ng-click=ctrl.login()>
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;Log in</button>

                        <hr />
                        <p>{{ctrl.errorPassword}}</p>
                    </form>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default btn-block" ng-click=ctrl.goGuestMap()>
            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Enter as a viewer</button>

    </div>
</div>


    <button ng-if="ctrl.isLogged()" ng-click="ctrl.logOut()">Cerrar sesión</button>
</div>



