<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wallapoints</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Administración <span class="sr-only">(current)</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Acceso</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="col-md-offset-1 col-md-4 col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User details</h3>
            </div>
            <div class="panel-body">
                <p><strong>Username: </strong>{{ctrl.userPanel.username}}</p></br>
                <p><strong>Email: </strong>{{ctrl.userPanel.email}}</p></br>
                <p><strong>Name: </strong>{{ctrl.userPanel.name}}</p></br>
                <p><strong>Surname: </strong>{{ctrl.userPanel.surname}}</p></br>
                <p><strong>Resgister Date: </strong>{{ctrl.userPanel.registerDate}}</p></br>
                <p ng-if="ctrl.userPanel.lastAccessDate"><strong>Last Access Date: </strong>{{ctrl.userPanel.lastAccessDate}}</p>
                <p ng-if="!ctrl.userPanel.lastAccessDate"><strong>Last Access Date: </strong>Never accessed</p>
            </div>
        </div>

    </div>


    <div class="col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-8">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> Edit User </strong>
                </div>
                <div class="panel-body">
                    <form name="userForm" role="form" ng-submit="ctrl.submitForm(userForm.$valid)" novalidate>
                        <br/>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="email" name="email" class="form-control" ng-model="ctrl.userEdited.email" placeholder="Email" >
                        </div>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>


                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="password" class="form-control" ng-model="ctrl.userEdited.password" placeholder="Password" ng-minlength="6">
                        </div>
                        <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">A password must have long>=6</p>


                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="name" class="form-control" ng-model="ctrl.userEdited.name" placeholder="Name" >
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="surname" class="form-control" ng-model="ctrl.userEdited.surname" placeholder="Surname" >
                        </div>


                        <button type="submit" class="btn btn-success " ng-disabled="userForm.$invalid" ng-click=ctrl.editUser()>Edit User</button>
                        <hr />
                        <p>{{ctrl.errorEdited}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>