<div class="container"> <!-- El container añade márgenes a los lados -->

    <table class="table table-bordered"> <!-- Tabla de resultados -->
        <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Text</th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="post in ctrl.posts">
            <td>{{post.author}}</td>
            <td>{{post.title}}</td>
            <td>{{post.text}}
                <button style="float:right" ng-click="ctrl.deletePost(post._id)"><span>Delete</span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>