<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wallapoints</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Admin Panel <span class="sr-only">(current)</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;Admin Map</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Statistics</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="ctrl.logOut()">&nbsp;Close Session</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>




<div class="container"> <!-- El container añade márgenes a los lados -->

    <div class=" col-md-8 col-sm-12 ">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-12">
                <div class="panel panel-default" ng-show="ctrl.showUserDetailPanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">User details</h3>
                    </div>
                    <div class="panel-body">
                        <p><strong>Username: </strong>{{ctrl.userPanel.username}}</p></br>
                        <p><strong>Email: </strong>{{ctrl.userPanel.email}}</p></br>
                        <p><strong>Name: </strong>{{ctrl.userPanel.name}}</p></br>
                        <p><strong>Surname: </strong>{{ctrl.userPanel.surname}}</p></br>
                        <p><strong>Resgister Date: </strong>{{ctrl.userPanel.registerDate}}</p></br>
                        <p ng-if="ctrl.userPanel.lastAccessDate"><strong>Last Access Date: </strong>{{ctrl.userPanel.lastAccessDate}}</p>
                        <p ng-if="!ctrl.userPanel.lastAccessDate"><strong>Last Access Date: </strong>Never accessed</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12 ">

                <div class="table-responsive container-fluid">
                    <table class="table table-bordered table-striped"><!-- Tabla de resultados -->
                        <thead>
                            <tr>
                                <th data-toggle="true">Username</th>
                                <th class="options hidden-xs">Email</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>

                        <tr pagination-id="Pagination" dir-paginate="subject in ctrl.users | itemsPerPage: 10 ">
                            <td>{{subject.username}}</td>
                            <td class="options hidden-xs">{{subject.email}}</td>
                            <td><button  class="btn btn-success "  ng-click=ctrl.showUserDetailed(subject.username)><span class="glyphicon glyphicon-eye-open"></span>
                            </button>

                                <button ng-if="subject.username=='admin'" class="btn btn-success" ng-disabled=true ><span class="glyphicon glyphicon-pencil" ></span></button>
                                <button ng-if="subject.username=='admin'"  class="btn btn-success" ng-disabled=true><span class="glyphicon glyphicon-trash" ></span></button>
                                <button ng-if="subject.username!='admin'"  class="btn btn-success "  ng-click=ctrl.editUser(subject.username)><span class="glyphicon glyphicon-pencil" ></span></button>
                                <button ng-if="subject.username!='admin'"  class="btn btn-success "  ng-click=ctrl.deleteUser(subject.username)><span class="glyphicon glyphicon-trash" ></span></button>
                            </td>

                            <!-- <td>{{post.text}}
                                 <button style="float:right" ng-click="ctrl.deletePost(post._id)"><span>Delete</span></button>
                             </td> -->
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls pagination-id="Pagination" ></dir-pagination-controls>
                </div>

            </div>


        </div>

    </div>

    <div class="col-md-offset-1 col-md-3 col-sm-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>   Register User </strong>
                </div>
                <div class="panel-body">
                    <form name="userForm" role="form" ng-submit="ctrl.submitForm(userForm.$valid)" novalidate>
                        <br/>
                        <div class="form-group input-group">

                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="username" class="form-control" ng-model="ctrl.newUser.username" placeholder="Username" ng-minlength="4" ng-maxlength="10" required>

                        </div>
                        <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">A username with long>=4 and <=10 is required.</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="name" class="form-control" ng-model="ctrl.newUser.name" placeholder="Name" required>
                        </div>
                        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">A name is required</p>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="surname" class="form-control" ng-model="ctrl.newUser.surname" placeholder="Surname" required>
                        </div>
                        <p ng-show="userForm.surname.$invalid && !userForm.surname.$pristine" class="help-block">A surname is required</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" name="email" class="form-control"  ng-model="ctrl.newUser.email" placeholder="Your Email" required/>
                        </div>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>


                        <button type="submit" class="btn btn-success " ng-disabled="userForm.$invalid" ng-click=ctrl.addUser()>Register</button>
                        <hr />
                        <p>{{ctrl.errorYaExiste}}</p>
                        <p>{{ctrl.passwordCreated}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
