<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wallapoints</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Administración <span class="sr-only">(current)</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Acceso</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>




<div class="container"> <!-- El container añade márgenes a los lados -->

    <div class=" col-md-8 col-sm-12 ">
        <div class="row">

            <div class="col-md-offset-3 col-md-6 col-sm-12  bg-success">
                <p>aqui va editar</p>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12 ">

                <div class="container table-responsive toggle-circle-filled">
                    <table class="table table-bordered table-striped"><!-- Tabla de resultados -->
                        <thead>
                            <tr>
                                <th data-toggle="true">Username</th>
                                <th data-hide="table, phone">Email</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="subject in ctrl.users">
                            <td>{{subject.username}}</td>
                            <td>{{subject.email}}</td>
                            <td>DELETE</td>

                            <!-- <td>{{post.text}}
                                 <button style="float:right" ng-click="ctrl.deletePost(post._id)"><span>Delete</span></button>
                             </td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>

    </div>

    <div class="col-md-offset-1 col-md-3 col-sm-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>   Register User </strong>
                </div>
                <div class="panel-body">
                    <form name="userForm" role="form" ng-submit="ctrl.submitForm(userForm.$valid)" novalidate>
                        <br/>
                        <div class="form-group input-group">

                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="username" class="form-control" ng-model="ctrl.newUser.username" placeholder="Username" ng-minlength="4" required>

                        </div>
                        <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">A username with long>4 is required.</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="name" class="form-control" ng-model="ctrl.newUser.name" placeholder="Name" required>
                        </div>
                        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">A name is required</p>

                        <div class="form-group input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input type="text" name="surname" class="form-control" ng-model="ctrl.newUser.surname" placeholder="Surname" required>
                        </div>
                        <p ng-show="userForm.surname.$invalid && !userForm.surname.$pristine" class="help-block">A surname is required</p>
                        <div class="form-group input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" name="email" class="form-control"  ng-model="ctrl.newUser.email" placeholder="Your Email" required/>
                        </div>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>


                        <button type="submit" class="btn btn-success " ng-disabled="userForm.$invalid" ng-click=ctrl.addUser()>Register</button>
                        <hr />
                        <p>{{ctrl.errorYaExiste}}</p>
                    </form>
                </div>
        </div>
    </div>




</div>