<div class="container"> <!-- El container añade márgenes a los lados -->
    <form class="form-horizontal" role="form"> <!-- Formulario para introducir post -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-3">
                <input ng-model="ctrl.newPost.title" type="text" class="form-control" id="title"
                       placeholder="Enter title">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="author">Author:</label>
            <div class="col-sm-3">
                <input ng-model="ctrl.newPost.author" type="text" class="form-control" id="author"
                       placeholder="Enter author">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="text">Description:</label>
            <div class="col-sm-3">
                <input ng-model="ctrl.newPost.text" type="text" class="form-control" id="text" placeholder="Enter text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="ctrl.addPost()" type="submit" class="btn btn-default"
                >Submit new note
                </button>
            </div>
        </div>
    </form>

    <table class="table table-bordered"> <!-- Tabla de resultados -->
        <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Text</th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="post in ctrl.posts">
            <td>{{post.author}}</td>
            <td>{{post.title}}</td>
            <td>{{post.text}}
                <button style="float:right" ng-click="ctrl.deletePost(post._id)"><span>Delete</span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>