<div class="container">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="navbar-inner container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;">Wallapoints!</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav" >
                        <li ng-if="ctrl.user.username=='admin'"><a href="/#/admin"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Manage users <span class="sr-only">(current)</span></a></li>
                        <li ng-if="ctrl.user.username=='admin'"><a href="/#/adminMap"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;View all POIs</a></li>
                        <li class="active"><a href="/#/userMap"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Manage my POIs</a></li>
                        <li><a href="/#/userPanel"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit my profile</a></li>
                        <li ng-if="ctrl.user.username=='admin'"><a href="/#/statistics"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Statistics</a></li>
                    </ul>
                </ul>


                <ul class="nav navbar-nav navbar-right"> <!-- Solo logout si logueado -->
                    <li><a href="" ng-click="ctrl.showPoiCreation()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add POI</a></li>
                    <li><a href="" ng-click="ctrl.showRouteCreation()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Route</a></li>
                    <li><a href="" ng-click="ctrl.logOut()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Log-out</a></li>
                </ul>



            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="navbar-offset"></div>


<!-- Mapa -->
<ui-gmap-google-map id="map" center='ctrl.map.center' zoom='ctrl.map.zoom' options='ctrl.map.options'  events="ctrl.map.events"
                    control="ctrl.map.control">
    <!-- Resultados de la búsqueda -->
    <ui-gmap-marker ng-repeat="poi in ctrl.pois"
                    idKey='{key:poi._id}'
                    events="ctrl.markersEvents "
                    control="poi"
                    coords='{latitude:poi.lat,longitude:poi.long}'>
        <!-- Se muestra ventanita si ratón encima, se está viendo el detalle de ese poi, o se está viendo una ruta que contiene ese poi -->
        <ui-gmap-window
                show="(ctrl.map.hoverPoiList.indexOf(poi._id) > -1) || (ctrl.showingPoi && ctrl.detailedPoi._id == poi._id)">
            <div>
                <b>{{poi.name}}</b>
            </div>
        </ui-gmap-window>
    </ui-gmap-marker>
    <!-- Marcadores de ruta. Se muestran aunque el punto de la ruta no esté en buscados -->
    <ui-gmap-marker ng-repeat="poi in ctrl.routeMarkers" ng-if="ctrl.showingRoute"
                    idKey='{key:poi._id}'
                    events="ctrl.markersEvents "
                    options='{"label": poi.order}'
                    control="poi"
                    coords='{latitude:poi.lat,longitude:poi.long}'>
        <ui-gmap-window
                show="ctrl.showingRoute && ctrl.isPoiOnDetailedRoute(poi)">
            <div>
                <b>{{poi.name}}</b>
            </div>
        </ui-gmap-window>
    </ui-gmap-marker>
</ui-gmap-google-map>


<div class="overlaid-container"> <!-- Capa que 'flota' sobre el mapa -->


    <div class="row overlaid-row"> <!-- Fila de los seleccionadores de paneles -->

        <div class="panel-selection btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <div class="btn btn-default" ng-click="ctrl.toggleLeftPanel()">
               <span class="glyphicon"
                     ng-class="{'glyphicon-check':ctrl.resultsPanelActivated,'glyphicon-unchecked':!ctrl.resultsPanelActivated}"></span>
                    &nbsp;Pois & Routes
                </div>
            </div>
            <div class="btn btn-default" ng-click="ctrl.toggleRightPanel()">
            <span class="glyphicon"
                  ng-class="{'glyphicon-check':ctrl.infoPanelActivated,'glyphicon-unchecked':!ctrl.infoPanelActivated}"></span>
                &nbsp;Info & Edit

            </div>
        </div>
    </div>

    <div class="row overlaid-row" style="margin:0px !important;">  <!-- Fila de los menús laterales desplegados -->


        <div class="col-sm-4 col-md-3 sidebar">   <!-- Menú lateral izquierdo-->

            <div class="alert  overlaid-alert"
                 ng-class="{'alert-danger':ctrl.alert.type=='danger','alert-warning':ctrl.alert.type=='warning', 'alert-success':ctrl.alert.type=='success'}"
                 role="alert" ng-if="ctrl.alert.show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>{{ctrl.alert.title}}</strong> {{ctrl.alert.message}}
            </div>

            <div class="panel-group sidebar-body " id="accordion-left">

                <div class="panel panel-primary" ng-show="ctrl.resultsPanelActivated"> <!-- Panel "Search Results" -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="" data-target="#searchResults">
                                <span class="glyphicon glyphicon-user"></span>
                                Your POIs and Routes
                            </a>
                             <span class="pull-right slide-submenu">
                                 <span class="glyphicon glyphicon-chevron-left"
                                       ng-click="ctrl.toggleLeftPanel()"></span>
                             </span>
                        </h4>
                    </div>
                    <div id="searchResults" class="panel-collapse in">
                        <div class="panel-body">

                            <div class="btn-group btn-group-justified" role="group">  <!-- Pestañas POI/RUTAS -->
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default"
                                            ng-click="ctrl.poiListEnabled = true;"
                                            ng-class="{'active':ctrl.poiListEnabled || ctrl.showingRouteEdition || ctrl.showingRouteCreation}">
                                        <span class="glyphicon glyphicon-map-marker"></span>&nbsp;POIs
                                    </button>
                                </div>
                                <div class="btn-group" role="group" ng-if="!ctrl.showingRouteEdition && !ctrl.showingRouteCreation">
                                    <button type="button" class="btn btn-default"
                                            ng-click="ctrl.poiListEnabled = false;"
                                            ng-class="{'active':!ctrl.poiListEnabled}">
                                        <span class="glyphicon glyphicon-move"></span>&nbsp;Routes
                                    </button>
                                </div>
                            </div>

                            <ul class="list-group" style="max-height: 30vh; overflow-y: scroll;"
                                ng-show="ctrl.poiListEnabled || ctrl.showingRouteEdition || ctrl.showingRouteCreation"> <!-- Lista de POIs resultados -->
                                <li href="" class="list-group-item" ng-repeat="poi in ctrl.pois"
                                    ng-click="ctrl.showPoiDetail(poi) && ctrl.centerMapInPoi(poi);">{{poi.name}}
                                     <span class="pull-right">
                                         <span ng-hide="ctrl.showingRouteEdition || ctrl.showingRouteCreation"class="glyphicon glyphicon-chevron-right"></span>
                                         <span ng-show="ctrl.showingRouteEdition || ctrl.showingRouteCreation" class="glyphicon glyphicon-plus"></span>
                                    </span>
                                </li>
                            </ul>

                            <ul class="list-group" style="max-height: 30vh; overflow-y: scroll;"
                                ng-show="!ctrl.poiListEnabled && !ctrl.showingRouteEdition && !ctrl.showingRouteCreation"> <!-- Lista de rutas resultados -->
                                <li href="" class="list-group-item" ng-repeat="route in ctrl.routes"
                                    ng-click="ctrl.showAndCalculateRoute(route._id)">
                                    {{route.name}}
                                    <span class="pull-right">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </span>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Menú lateral derecho, tiene offset para dejar en medio vacío-->
        <div class="col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6 sidebar ">
            <div class="panel-group sidebar-body" id="accordion-right" ng-show="ctrl.infoPanelActivated">

                <div class="panel panel-primary" ng-if="ctrl.showingPoi"> <!-- Panel info de POI-->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="" data-target="#poiInfo">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                POI information
                            </a>
                     <span class="pull-right slide-submenu" ng-click="ctrl.toggleRightPanel()">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                     </span>
                        </h4>
                    </div>
                    <div id="poiInfo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <b>Name: </b> {{ctrl.detailedPoi.name}}
                            <br/>
                            <b>Description: </b> {{ctrl.detailedPoi.description}}
                            <br/>
                            <b>Multimedia: </b> <a ng-if="ctrl.detailedPoi.multimediaUrl"
                                                   href="{{ctrl.detailedPoi.multimediaUrl}}" target="_blank">
                            {{ctrl.detailedPoi.multimediaUrl}}</a>
                            <span ng-if="!ctrl.detailedPoi.multimediaUrl">None</span>
                            <br/>
                            <b>Keywords: </b> {{ctrl.getKeywordCommasFromList(ctrl.detailedPoi.keywords)}}
                            <br/>
                            <b>Creator: </b> {{ctrl.detailedPoi.creator}}
                            <br/>
                            <b>Address: </b> {{ctrl.detailedPoi.formatted_address}}
                            <br/>
                            <b>Average rating: </b> {{ctrl.detailedPoi.avgRating}}

                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <!-- Editar/borrar POI -->
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.showPoiEdition();">
                                        <span class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.removePoi(ctrl.detailedPoi._id)">
                                        <span class="glyphicon glyphicon-trash"></span></button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="panel panel-primary" ng-if="ctrl.showingRoute"> <!-- Panel info de Ruta-->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="" data-target="#routeInfo">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                Route information
                            </a>
                     <span class="pull-right slide-submenu" ng-click="ctrl.toggleRightPanel()">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                     </span>
                        </h4>
                    </div>
                    <div id="routeInfo" class="panel-collapse collapse in">
                        <div class="panel-body" ng-if="ctrl.showingRoute">
                            <b>Name: </b> {{ctrl.detailedRoute.name}}
                            <br/>
                            <b>Creator: </b> {{ctrl.detailedRoute.creator}}
                            <br/>
                            <b>POIs contained: </b>
                            <ol>
                                <li ng-repeat="poi in ctrl.detailedRoute.pois track by $index">{{poi.name}}</li>
                            </ol>

                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <!-- Editar/borrar ruta -->
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.showRouteEdition();">
                                        <span class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.removeRoute(ctrl.detailedRoute._id)">
                                        <span class="glyphicon glyphicon-trash"></span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Panel de edición/creación de POI -->
                <div class="panel panel-primary" ng-if="ctrl.showingPoiEdition || ctrl.showingPoiCreation">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="" data-target="#poiEditing">
                                <i class="fa fa-tasks"></i>
                                <span ng-if="ctrl.showingPoiEdition"> Editing POI </span>
                                <span ng-if="ctrl.showingPoiCreation"> Creating POI </span>
                            </a>
                        </h4>
                    </div>
                    <div id="poiEditing" class="panel-collapse collapse in"
                         style="max-height: 50vh; overflow-y: scroll;">
                        <div class="panel-body">
                            <form class="form-horizontal" ng-submit="ctrl.hidePoiEdition(true)">
                                <fieldset>


                                    <!-- Nombre poi-->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Name</span>
                                                <input
                                                        ng-model="ctrl.editingPoi.name" class="form-control"
                                                        placeholder="e.g: My house" type="text" required="">
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Keywords -->
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Keywords</span>
                                                <input
                                                        ng-model="ctrl.editingPoi.keywordList" class="form-control"
                                                        placeholder="e.g: Spain, Zaragoza, ..." type="text">
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Multimedia URL -->
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Multimedia URL</span>
                                                <input
                                                        ng-model="ctrl.editingPoi.multimediaUrl" class="form-control"
                                                        placeholder="e.g: http://www.google.es" type="text">
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Descripción -->
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <textarea class="form-control" ng-model="ctrl.editingPoi.description" id=""
                                                      name="" placeholder="Description" required=""></textarea>
                                        </div>
                                    </div>

                                    <!-- Lat -->
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Lat</span>
                                                <input name="" class="form-control" placeholder="e.g: 12.32"
                                                       ng-model="ctrl.editingPoi.lat" type="text" required="">
                                            </div>

                                        </div>
                                    </div>


                                    <!-- Long -->
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Long</span>
                                                <input class="form-control" ng-model="ctrl.editingPoi.long"
                                                       placeholder="e.g: 12.54" type="text" required="">
                                            </div>

                                        </div>
                                    </div>


                                    <i>(Or make click wherevere you want the POI)</i>

                                    <!-- Botones de confirmación y discard -->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button ng-if="ctrl.showingPoiEdition" name="button1id"
                                                    class="btn btn-success" type="submit">Update
                                            </button>
                                            <button ng-if="ctrl.showingPoiCreation" name="button1id"
                                                    class="btn btn-success" type="submit">Add
                                            </button>
                                            <button  name="button2id"
                                                    class="btn btn-danger" ng-click="ctrl.hidePoiEdition(false)">Discard
                                            </button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>

                        </div>

                    </div>
                </div>

                <!-- Panel de edición / creación de ruta -->
                <div class="panel panel-primary" ng-if="ctrl.showingRouteCreation || ctrl.showingRouteEdition">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="" data-target="#routeEditing">
                                <i class="fa fa-tasks"></i>
                                <span ng-if="ctrl.showingRouteCreation">Creating route</span>
                                <span ng-if="ctrl.showingRouteEdition">Editing route</span>
                            </a>
                        </h4>
                    </div>
                    <div id="routeEditing" class="panel-collapse collapse in"
                         style="max-height: 50vh; overflow-y: scroll;">
                        <div class="panel-body">
                            <form class="form-horizontal" ng-submit="ctrl.hideRouteEdition(true)">
                                <fieldset>


                                    <!-- Route name-->
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-addon">Name</span>
                                                <input  name="prependedtext" ng-model="ctrl.editingRoute.name"
                                                       class="form-control" placeholder="e.g: My house" type="text" required="">
                                            </div>

                                        </div>
                                    </div>


                                    <!-- Botón de entrar/salir de modo selección de POIs -->
                                    <span ng-if="ctrl.selectPoiForRoute">Please click the pois you want</span>
                                    <button type="button" class="btn btn-info btn-block" ng-class="{'active':ctrl.selectPoiForRoute}"
                                            ng-click="ctrl.selectPoiForRoute = !ctrl.selectPoiForRoute;">

                                        <span ng-if="!ctrl.selectPoiForRoute">Add a new POI</span>
                                        <span ng-if="ctrl.selectPoiForRoute">Stop selecting Pois</span>
                                    </button>


                                    <!-- Lista draggable de POIs que la conforman -->
                                    <ul dnd-list="ctrl.editingRoute.pois" class="list-group"
                                        style="max-height: 90vh; overflow-y: scroll;">
                                        <li href="" class="list-group-item" ng-repeat="poi in ctrl.editingRoute.pois"
                                            dnd-draggable="poi"
                                            dnd-moved="ctrl.editingRoute.pois.splice($index, 1)"
                                            dnd-effect-allowed="move"
                                            dnd-selected="models.selected = item"
                                            ng-class="{'selected': models.selected === item}">
                                            <a href=""> {{$index+1}} - {{poi.name}}</a>
                                             <span class="pull-right">
                                             <button ng-click="ctrl.editingRoute.pois.splice($index,1)" class="btn btn-xs btn-danger">
                                                 <span class="glyphicon glyphicon-trash"></span>
                                             </button>
                                            </span>
                                        </li>
                                    </ul>

                                    <span ng-if="ctrl.routeCreationError" style="color:red"><strong>{{ctrl.routeCreationError}}</strong></span>


                                    <!-- Botones de confirmar y descargar -->
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <button ng-if="ctrl.showingRouteCreation" type="submit"
                                                    class="btn btn-success" >
                                                Save
                                            </button>
                                            <button ng-if="ctrl.showingRouteEdition" type="submit"
                                                    class="btn btn-success">
                                                Update
                                            </button>
                                            <button  name="button2id"
                                                     class="btn btn-danger" ng-click="ctrl.hideRouteEdition(false)">
                                                Discard
                                            </button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>

                        </div>

                    </div>
                </div>


                <div class="panel panel-primary" ng-if="ctrl.showingRouteSteps"> <!-- Panel de pasos de ruta -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="" data-target="#routeData">
                                <i class="glyphicon glyphicon-globe"></i>
                                Route to follow
                            </a>
                        </h4>
                    </div>
                    <div id="routeData" class="panel-collapse collapse in"
                         style="max-height: 40vh; overflow-y: scroll;">
                        <div class="panel-body" id="directionsList">
                            <span ng-if="ctrl.routeError" style="color:red;"><b>{{ctrl.routeError}}</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>