/**
* CSS's DE MAPA VISITANTE.
* Ojo, está disponible para toda la aplicación, aunque esté en esta carpeta.
* Por lo tanto cuidado con sobreescribir las clases.
* Si se pone por separado es para modularizar y facilitar el mantenimiento.
*/

/* Row que contiene toda la interfaz flotante sobre el mapa*/
.overlaid-container { position: relative; top: 0px;}

.overlaid-row {margin-right: 0px;}

/** Botones de selección de paneles */
.panel-selection{
    z-index: 40;
    margin-bottom:5px;
}

.panel-selection .btn{
    background-color:rgba(255,255,255,0.9);
}


/** Menús laterales **/
.sidebar { z-index: 45; }



/** Estilo de botón de plegar menú */
.slide-submenu{
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 0 8px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 40;
}

/** Mapa **/
.map-container,
.angular-google-map-container {
    z-index: 35;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.star-rating .star.filled {
    color: #fd0;
}
.star-rating.readonly .star.filled {
    color: #666;
}
