body { background: white; }

.navbar-offset { margin-top: 50px; }




/** Estilo de menús laterales plegados **/
.mini-submenu{

  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  /*position: relative;*/
  width: 100px;
  z-index: 40;
  text-align: center;
}

.panel-selection{
  z-index: 40;
  margin-bottom:5px;
}

.panel-selection .btn{
  background-color:rgba(255,255,255,0.9);
}
.mini-submenu-left{
  float:left;
  position: relative;
  top: 3px;
  left: 10px;
}

.mini-submenu-right{

  float:right;
  position: relative;
  top: 3px;
  right: 10px;

}

/*Cambia el cursor cuando se posiciona encima de sub-menu */
.mini-submenu:hover{
  cursor: pointer;
}

/** Esto se refiere a las barras laterales **/
.sidebar { z-index: 45; }

/* Row que contiene toda la interfaz flotante sobre el mapa*/
.overlaid-container { position: relative; top: 0px; margin-left:5px}

/** Estilo de botón de plegar menú */
.slide-submenu{
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 0 8px;
  border-radius: 2px;
  cursor: pointer;
  z-index: 40;
}

/** Mapa **/
.map-container,
.angular-google-map-container {
  z-index: 35;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.mini-submenu.ng-hide {
  display: block!important;
  visibility: hidden;
}


.overlaid-row{
  margin:0px !important;
}

.navbar-default {
  background-color:rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.8);
}
.nav.navbar-nav.navbar-right li a{
  color: white;
}
.nav.navbar-nav.navbar-right li a:hover{
  color: gray;
}